{% extends "layout.html" %}

{% block title %}Photo Credits{% endblock %}

{% block main %}
    <div class="d-flex flex-column align-items-center p-4 gap-2">
        <h1 class="fs-3">Default photos by:</h1>
        <ul class="list-group col-8 col-sm-5 col-lg-3">
            <li class="list-group-item"><a href="https://www.pexels.com/photo/default-21967469/">Fatih PAÇ</a></li>
            <li class="list-group-item"><a href="https://www.pexels.com/photo/a-black-and-white-photo-of-a-path-leading-to-the-beach-21789845/s">Steffen Rühlmann</a></li>
            <li class="list-group-item"><a href="https://www.pexels.com/photo/silhouettes-of-electricity-poles-during-sunset-20782484/">Q. Hưng Phạm</a></li>
            <li class="list-group-item"><a href="https://www.pexels.com/photo/paragliding-in-the-alps-20042225/">Ryan Klaus</a></li>
            <li class="list-group-item"><a href="https://www.pexels.com/photo/a-black-and-white-photo-of-chairs-on-a-wall-22619670/">wal_ 172619</a></li>
            <li class="list-group-item"><a href="https://www.pexels.com/photo/a-close-up-of-a-flower-on-a-branch-20684681/">Nati</a></li>
            <li class="list-group-item"><a href="https://www.pexels.com/photo/sakura-of-my-hometown-21998036/">Wikii Heiwa</a></li>
            <li class="list-group-item"><a href="https://www.pexels.com/photo/a-narrow-street-with-buildings-and-cars-20832069/">Alina Chernii</a></li>
            <li class="list-group-item"><a href="https://www.pexels.com/photo/a-coconut-tree-with-fruit-on-it-20838762/">Roselène de Koning</a></li>
            <li class="list-group-item"><a href="https://www.pexels.com/photo/street-bend-and-sea-in-the-distance-12785212/">Ana  Karenina</a></li>
            <li class="list-group-item"><a href="https://www.pexels.com/photo/a-blue-house-in-the-snow-with-clouds-in-the-sky-22747889/">salman</a></li>
            <li class="list-group-item"><a href="https://www.pexels.com/photo/mountain-reflection-in-lake-19036832/">Oliver Dohrn</a></li>
        </ul>
    </div>
{% endblock %}